@model SistemaEscola.Models.Turma

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>@Html.DisplayNameForModel()</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Turma" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Professor)
                </label>
                <select name="IdProfessor" class="custom-select" >
                    <option value="">Selecione um Professor</option>
                    @foreach (var professor in ViewBag.professores)
                    {
                        <option value="@professor.Id">@professor.Nome</option>
                    }
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">
                    Sala
                </label>
                <input name="Sala" class="form-control" placeholder="Digite o nome da Sala" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
